# images + icons
ui/assets/*
themes/colorschemes/*
themes/lost-century/icons/*
# dev directories
.vscode/
/lua_modules
/luarocks
# selene linter config files
selene.toml
awesome.yml
#
modules/lain/wiki
